/* 🔹 ESTILOS GENERALES */
body {
    margin: 0;
    font-family: Arial;
    text-align: center;
    color: white;
}

/* Fondo */
.fondo {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("https://i.pinimg.com/736x/30/37/9d/30379d443791b0c54d3adeb796e35633.jpg") center/cover;
    filter: blur(2px);
    z-index: -1;
}

.contenido {
    padding: 20px;
}

.raton {
    width: 300px;
    border-radius: 60px;
}

.carta {
    background: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 15px;
    margin: 20px auto;
    width: 60%;
}

.decora1, .decora2, .decora3 {
    width: 30px;
    border-radius: 80px;
}

/* Preguntas */
.bloque {
    margin: 20px 0;
}

button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #e2acb5;
    color: white;
}

.respuesta {
    margin-top: 5px;
}

/* 📱 RESPONSIVE CELULAR */
@media (max-width: 600px) {

    .contenido {
        padding: 10px;
    }

    h1 {
        font-size: 22px;
    }

    .subtexto {
        font-size: 14px;
    }

    .raton {
        width: 200px;
    }

    .carta {
        width: 90%;
        padding: 15px;
    }

    .decora1, .decora2, .decora3 {
        width: 90%;
        border-radius: 60px;
    }

    .bloque {
        margin: 15px 0;
    }

    button {
        width: 100%;
        margin: 5px 0;
        font-size: 14px;
    }

    .respuesta {
        font-size: 13px;
    }
    .final {
        width: 90%;
        border-radius: 20px;
    }
}
