body {
    margin: 0;
    font-family: Arial;
    text-align: center;
    color: white;
}

/* Fondo */
.fondo {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("https://i.pinimg.com/736x/30/37/9d/30379d443791b0c54d3adeb796e35633.jpg") center/cover;
    filter: blur(2px);
    z-index: -1;
}

.contenido {
    padding: 20px;
}

.raton {
    width: 300px;
    border-radius: 60px;
}

.carta {
    background: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 15px;
    margin: 20px auto;
    width: 60%;
}
.decora1{ 
    width: 300px;
    border-radius: 60px;
}
.decora2{ 
    width: 300px;
    border-radius: 60px;
}
.decora3{ 
    width: 300px;
    border-radius: 60px;
}

/* Preguntas */
.bloque {
    margin: 20px 0;
}

button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #e2acb5;
    color: white;
}

button:hover {
    background: #595555;
}

.respuesta {
    margin-top: 5px;
    font-size: 14px;
}